<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Yacht Adventures</title>
    <link
      rel="stylesheet"
      href="footer.scss" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer__container">
        <div class="footer__logo">
          <span class="footer__logo icon">⛵</span>
          <span class="footer__text">YACHT ADVENTURES</span>
        </div>

        <ul class="footer__menu">
          <li><a href="#" class="footer__link">ABOUT</a></li>
          <li><a href="#" class="footer__link">YACHTS</a></li>
          <li><a href="#" class="footer__link">REVIEWS</a></li>
        </ul>

        <div class="footer__social">
          <h4 class="footer__social-title">WE IN SOCIAL</h4>
          <div class="footer__icons">
            <a href="#" class="footer__social-link">
              <img
                src="./img/jpg/facebook.jpg"
                alt="Facebook" />
            </a>
            <a href="#" class="footer__social-link">
              <img
                src="./img/jpg/instagram.jpg"
                alt="Instagram" />
            </a>
            <a href="#" class="footer__social-link">
              <img
                src="./img/jpg/youtube.jpg"
                alt="YouTube" />
            </a>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <p>2023. Yacht Adventures</p>
        <p><a href="#" class="footer__privacy">Privacy Policy</a></p>
      </div>
    </footer>
  </body>
</html>

