<!-- А скачать новую версию пвз фьюшына и гибрида можно у меня в телеграм канале (по вопросам и рекламе к @VisnyastrelsManeger) -->
<footer class="fotr">
    <hr class="hr1">
    <ul class="fu1 list-style">
        <li><img class="idk-seems-like-svg" src="" alt=""></li>
        <li><img class="yacht-adventures" src="" alt=""></li>
    </ul>
    <ul class="fu2 list-style">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="fu3 list-style">
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="fu4 list-style">
        <li></li>
        <li></li>
    </ul>
</footer>