<div class="baground">
    <section class="container">
        <section class="first-sec">
            <ul class="list">
                <li class="">
                    <img src="../img/jpg/baground1.png" alt="baground" width="350px" height="450px">
                </li>
            </ul>
            <ul class="list2">
                <li class="list1"><img class="display margin2" src="../img/jpg/man2.png" alt="man1" width="50px" height="50px">
                    <img class="display margin" src="../img/jpg/woman1.png" alt="woman1" width="50px" height="50px">
                    <img class="display" src="../img/jpg/man1.png" alt="man2" width="50px" height="50px">
                </li>
            </ul>
            <ul class="list">
                <li>
                    <p></p>
                </li>
            </ul>
        </section>
        <section class="second-sec">

        </section>
    </section>
</div>