<div class="baground">
<section class="container">
        <section class="first-sec">
            <ul class="list">
                <li><img src="../img/jpg/baground1.jpg" alt="baground" width="426px" height="598px"></li>
                <li><img src="" alt=""></li>
                <li><img src="" alt=""></li>
            </ul>
            <ul class="list">
                <li>
                    <p></p>
                </li>
            </ul>
        </section>
        <section class="second-sec">

        </section>
    </section>
</div>