<div class="baground">
<section class="section container">
        <section>
            <ul class="list">
                <li class="list1">
                    <img src="../img/jpg/landpreview-img/diving.png" alt="divig" width="600px" height="500px" >
                </li>
                <li class="list2">
                    <img src="../img/jpg/landpreview-img/fishing.png" alt="fishing" width="350px" height="300px">
                </li>
                <li class="list3">
                    <img src="../img/jpg/landpreview-img/sunbathing.png" alt="sumbathing" width="330px" height="250px">
                </li>
            </ul>
        </section>
    </section>
</div>