<div class="baground">
    <section class="section container">
        <section>
            <ul class="list">
                <li class="list1">
                    <img class="first-img" src="./img/jpg/landpreview-img/diving.png" alt="divig" width="600px" height="500px">
                    <button class="first-butt width-butt" type="button">Diving</button>
                </li>
                <li class="list2">
                    <img class="second-img" src="./img/jpg/landpreview-img/fishing.png" alt="fishing" width="350px" height="300px">
                    <button class="second-butt width-butt" type="button">Fishing</button>
                </li>
                <li class="list3">
                    <img src="./img/jpg/landpreview-img/sunbathing.png" alt="sumbathing" width="330px" height="250px">
                    <button class="third-butt width-butt" type="button">Sunbathing</button>
                </li>
            </ul>
        </section>
    </section>
</div>