<!-- тест -->
<div>
    <ul>
        <li><input type="text"></li>
        <li><input type="email"></li>
        <li><input type=""></li>
        <li><textarea name="" id=""></textarea></li>
    </ul>
    <button class="btn-open" data-modal-open>Send</button>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button class="btn" data-modal-close>
                <svg class="rddbs1">
                    <use href="../img/rent-a-yacht-now/symbol-defs.svg#icon-x"></use>
                </svg>
            </button>
            <div class="rddbd1"></div>
            <img class="rddbdi1" src="/img/rent-a-yacht-now/img yaht132.png" alt="Yachta">
            <p class="rdddp1">Thank you</p>
            <p>Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in
                touch shortly to confirm your reservation and provide any additional information or assistance you may
                need.</p>
        </div>
    </div>
    <script>(() => {
            const refs = {
                openModalBtn: document.querySelector("[data-modal-open]"),
                closeModalBtn: document.querySelector("[data-modal-close]"),
                modal: document.querySelector("[data-modal]"),
            };

            refs.openModalBtn.addEventListener("click", toggleModal);
            refs.closeModalBtn.addEventListener("click", toggleModal);

            function toggleModal() {
                refs.modal.classList.toggle("is-hidden");
                document.body.classList.toggle("no-scroll");
            }
        })();</script>
</div>