<section class="section-reviewed">
    <section>
        <h2 class="h2-with-span">
            <span class="Yacht">Yacht Adventures</span> take pride in <br> providing the best possible service <br> and
            experience to our customers
        </h2>
    </section>
    <section class="section-two"> 
        <p class="p-second-section">Our customers have enjoyed <br> unforgettable moments on our yachts. <br> Don't just take our word for it - read on <br> to
            find out
            what they have to say <br> about their journey with us.</p>
    </section>
</section>