<section class="section-reviewed">
    <section>
        <h2 class="h2-with-span">
            <span class="Yacht">Yacht Adventures</span> take pride in <br> providing the best possible service <br> and
            experience to our customers
        </h2>
    </section>
    <section class="section-two">
        <p class="p-second-section">Our customers have enjoyed <br> unforgettable moments on our yachts. <br> Don't just
            take our word for it - read on <br> to
            find out
            what they have to say <br> about their journey with us.</p>
    </section>
    <section class="section-cards">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
        <li class="section-card-1">
            <section>
                <img class="card-img-1" src="../img/reviewed-img/image.png" alt="">
            </section>
            <section>
                <h2 class="h2-john">John Wax</h2>
            </section>
            <section>
                <p class="card-p-1">I rented the Lagoon 620 with my family for a week-long vacation and it was the best
                    decision ever. The yacht was
                    spacious, comfortable, and luxurious, and the crew took care of everything.</p>
            </section>
        </li>
                </div>
                <div class="carousel-item">
        <li class="section-card-1">
            <section>
                <img class="card-img-1" src="../img/reviewed-img/victoria.png" alt="">
            </section>
            <section>
                <h2 class="h2-john">Victoria Romashenko</h2>
            </section>
            <section>
                <p class="card-p-1">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The
                    yacht was beautifully designed, with all
                    the amenities we needed, and the crew was attentive and friendly.</p>
            </section>
        </li>
                </div>
                <div class="carousel-item">
        <li class="section-card-1">
            <section>
                <img class="card-img-1" src="../img/reviewed-img/ihor.png" alt="">
            </section>
            <section>
                <h2 class="h2-john">Ihor Trachuk</h2>
            </section>
            <section>
                <p class="card-p-1">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were
                    spacious and elegant, and the outdoor
                    areas were perfect for relaxing and entertaining. Worth every penny!</p>
            </section>
        </li>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

</section>


