<section class="section-reviewed">
    <section>
        <h2 class="h2-with-span">
            <span class="Yacht">Yacht Adventures</span> take pride in <br> providing the best possible service <br> and
            experience to our customers
        </h2>
    </section>
    <section class="section-two"> 
        <p class="p-second-section">Our customers have enjoyed <br> unforgettable moments on our yachts. <br> Don't just take our word for it - read on <br> to
            find out
            what they have to say <br> about their journey with us.</p>
    </section>
    <section>
        <div>
            <section>
                <img src="../img/reviewed-img/image.png" alt="">
            </section>
            <section>
                <h2 class="h2-john">John Wax</h2>
            </section>
            <section>
                <p>I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was
                spacious, comfortable, and luxurious, and the crew took care of everything.</p>
            </section>
        </div>
        <div></div>
        <div></div>
    </section>
</section>