<section class="whole-section">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <section class="whole-section">
                    <section>
                        <img class="img" src="../img/sliders-img/Arrow.png" alt="" width="322" height="268">
                    </section>
                    <section>
                        <p class="name-yacht">ARROW</p>
                        <P class="type-yacht">LUXURY YACHTS</P>
                    </section>
                    <section class="section-name">
                        <p class="p-name">LENGTH</p>
                        <p class="p-name">BUILDER</p>
                        <p class="p-name">BUILT</p>
                        <p class="p-name">GUESTS</p>
                        <p class="p-name">PRICE</p>
                    </section>
                    <section class="section-info">
                        <p class="p-info">48m(155ft)</p>
                        <p class="p-info">Admiral</p>
                        <p class="p-info">2021</p>
                        <p class="p-info">11 in 5 cabins</p>
                        <p class="p-info">€33,500,000</p>
                    </section>
                </section>
            </div>
            <div class="carousel-item">
                            <section>
                                <img class="img" src="../img/sliders-img/Arrow.png" alt="" width="322" height="268">
                            </section>
                            <section>
                                <p class="name-yacht">ARROW</p>
                                <P class="type-yacht">LUXURY YACHTS</P>
                            </section>
                            <section class="section-name">
                                <p class="p-name">LENGTH</p>
                                <p class="p-name">BUILDER</p>
                                <p class="p-name">BUILT</p>
                                <p class="p-name">GUESTS</p>
                                <p class="p-name">PRICE</p>
                            </section>
                            <section class="section-info">
                                <p class="p-info">48m(155ft)</p>
                                <p class="p-info">Admiral</p>
                                <p class="p-info">2021</p>
                                <p class="p-info">11 in 5 cabins</p>
                                <p class="p-info">€33,500,000</p>
                            </section>
            </div>
            <div class="carousel-item">
                            <section>
                                <img class="img" src="../img/sliders-img/Arrow.png" alt="" width="322" height="268">
                            </section>
                            <section>
                                <p class="name-yacht">ARROW</p>
                                <P class="type-yacht">LUXURY YACHTS</P>
                            </section>
                            <section class="section-name">
                                <p class="p-name">LENGTH</p>
                                <p class="p-name">BUILDER</p>
                                <p class="p-name">BUILT</p>
                                <p class="p-name">GUESTS</p>
                                <p class="p-name">PRICE</p>
                            </section>
                            <section class="section-info">
                                <p class="p-info">48m(155ft)</p>
                                <p class="p-info">Admiral</p>
                                <p class="p-info">2021</p>
                                <p class="p-info">11 in 5 cabins</p>
                                <p class="p-info">€33,500,000</p>
                            </section>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
