<!-- <section class="whole-section">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <section class="whole-section">
                    <section>
                        <img class="img" src="../img/sliders-img/Arrow.png" alt="" width="322" height="268">
                    </section>
                    <section>
                        <p class="name-yacht">ARROW</p>
                        <P class="type-yacht">LUXURY YACHTS</P>
                    </section>
                    <section class="section-name">
                        <p class="p-name">LENGTH</p>
                        <p class="p-name">BUILDER</p>
                        <p class="p-name">BUILT</p>
                        <p class="p-name">GUESTS</p>
                        <p class="p-name">PRICE</p>
                    </section>
                    <section class="section-info">
                        <p class="p-info">48m(155ft)</p>
                        <p class="p-info">Admiral</p>
                        <p class="p-info">2021</p>
                        <p class="p-info">11 in 5 cabins</p>
                        <p class="p-info">€33,500,000</p>
                    </section>
                </section>
            </div>
            <div class="carousel-item">
                            <section>
                                <img class="img" src="../img/sliders-img/Arrow.png" alt="" width="322" height="268">
                            </section>
                            <section>
                                <p class="name-yacht">ARROW</p>
                                <P class="type-yacht">LUXURY YACHTS</P>
                            </section>
                            <section class="section-name">
                                <p class="p-name">LENGTH</p>
                                <p class="p-name">BUILDER</p>
                                <p class="p-name">BUILT</p>
                                <p class="p-name">GUESTS</p>
                                <p class="p-name">PRICE</p>
                            </section>
                            <section class="section-info">
                                <p class="p-info">48m(155ft)</p>
                                <p class="p-info">Admiral</p>
                                <p class="p-info">2021</p>
                                <p class="p-info">11 in 5 cabins</p>
                                <p class="p-info">€33,500,000</p>
                            </section>
            </div>
            <div class="carousel-item">
                            <section>
                                <img class="img" src="../img/sliders-img/Arrow.png" alt="" width="322" height="268">
                            </section>
                            <section>
                                <p class="name-yacht">ARROW</p>
                                <P class="type-yacht">LUXURY YACHTS</P>
                            </section>
                            <section class="section-name">
                                <p class="p-name">LENGTH</p>
                                <p class="p-name">BUILDER</p>
                                <p class="p-name">BUILT</p>
                                <p class="p-name">GUESTS</p>
                                <p class="p-name">PRICE</p>
                            </section>
                            <section class="section-info">
                                <p class="p-info">48m(155ft)</p>
                                <p class="p-info">Admiral</p>
                                <p class="p-info">2021</p>
                                <p class="p-info">11 in 5 cabins</p>
                                <p class="p-info">€33,500,000</p>
                            </section>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section> -->
<div class="back">
    <div class="slider">

        <ul class="slides">

            <li class="slide">
                <img src="./img/sliders-img/Beneti.png" alt="Arrow" width="322">
                <div class="slide-wrapper space">
                    <h4 class="slide-title dm-sans">BENETTI OASIS 40M BO122</h4>
                    <p class="slide-copycht dm-sans">LUXURY YACHTS</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">LENGTH</p>
                    <p class="slide-specs dm-sans">41m (133ft) </p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILDER</p>
                    <p class="slide-specs dm-sans">Benetti</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILT</p>
                    <p class="slide-specs dm-sans">2025 </p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">GUESTS</p>
                    <p class="slide-specs dm-sans">10 in 5 cabins</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">PRICE</p>
                    <p class="slide-specs dm-sans">€23,210,000</p>
                </div>
            </li>
            <li class="slide">
                <img src="../img/sliders-img/Belle.png" alt="Arrow" width="322">
                <div class="slide-wrapper space">
                    <h4 class="slide-title dm-sans">BELLE ANNA</h4>
                    <p class="slide-copycht dm-sans">LUXURY YACHTS</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">LENGTH</p>
                    <p class="slide-specs dm-sans">50m(155ft) </p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILDER</p>
                    <p class="slide-specs dm-sans">ISA</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILT</p>
                    <p class="slide-specs dm-sans">2012</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">GUESTS</p>
                    <p class="slide-specs dm-sans">12 in 6 cabins</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">PRICE</p>
                    <p class="slide-specs dm-sans">€21,000,000</p>
                </div>
            </li>
            <li class="slide">
                <img src="./img/sliders-img/Ellen.png" alt="Arrow" width="322">
                <div class="slide-wrapper space">
                    <h4 class="slide-title dm-sans">Ellen</h4>
                    <p class="slide-copycht dm-sans">LUXURY YACHTS</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">LENGTH</p>
                    <p class="slide-specs dm-sans">40m (132ft) </p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILDER</p>
                    <p class="slide-specs dm-sans">Perini Navi</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILT</p>
                    <p class="slide-specs dm-sans">2001 / 2016 (refitted)</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">GUESTS</p>
                    <p class="slide-specs dm-sans">9 in 4 cabins</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">PRICE</p>
                    <p class="slide-specs dm-sans">€9,300,000</p>
                </div>
            </li>
            <li class="slide">
                <img src="./img/sliders-img/Mirage.png" alt="Arrow" width="322">
                <div class="slide-wrapper space">
                    <h4 class="slide-title dm-sans">MIRAGE 401</h4>
                    <p class="slide-copycht dm-sans">LUXURY YACHTS</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">LENGTH</p>
                    <p class="slide-specs dm-sans">38m (125ft)</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILDER</p>
                    <p class="slide-specs dm-sans">Gianetti Custom Yachts</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILT</p>
                    <p class="slide-specs dm-sans">2024 </p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">GUESTS</p>
                    <p class="slide-specs dm-sans">10 in 5 cabins</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">PRICE</p>
                    <p class="slide-specs dm-sans">€13,500,000</p>
                </div>
            </li>
            <li class="slide">
                <img src="./img/sliders-img/King.png" alt="Arrow" width="322">
                <div class="slide-wrapper space">
                    <h4 class="slide-title dm-sans">KING</h4>
                    <p class="slide-copycht dm-sans">LUXURY YACHTS</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">LENGTH</p>
                    <p class="slide-specs dm-sans">33m (109ft)</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILDER</p>
                    <p class="slide-specs dm-sans">Overmarine</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILT</p>
                    <p class="slide-specs dm-sans">2004 / 2018 (refitted)</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">GUESTS</p>
                    <p class="slide-specs dm-sans">9 in 4 cabins</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">PRICE</p>
                    <p class="slide-specs dm-sans">€1,850,000</p>
                </div>
            </li>
            <li class="slide">
                <img src="./img/sliders-img/Salt.png" alt="Arrow" width="322">
                <div class="slide-wrapper space">
                    <h4 class="slide-title dm-sans">SALT</h4>
                    <p class="slide-copycht dm-sans">LUXURY YACHTS</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">LENGTH</p>
                    <p class="slide-specs dm-sans">32m (105ft)</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILDER</p>
                    <p class="slide-specs dm-sans">SanLorenzo</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILT</p>
                    <p class="slide-specs dm-sans">2019 </p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">GUESTS</p>
                    <p class="slide-specs dm-sans">11 in 5 cabins</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">PRICE</p>
                    <p class="slide-specs dm-sans">€7,800,000</p>
                </div>
            </li>
            <li class="slide">
                <img src="./img/sliders-img/Storm.png" alt="Salt" width="322">
                <div class="slide-wrapper space">
                    <h4 class="slide-title dm-sans">STORM</h4>
                    <p class="slide-copycht dm-sans">LUXURY YACHTS</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">LENGTH</p>
                    <p class="slide-specs dm-sans">32m (103ft)</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILDER</p>
                    <p class="slide-specs dm-sans">Overmarine</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILT</p>
                    <p class="slide-specs dm-sans">2005 / 2022 (refitted)</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">GUESTS</p>
                    <p class="slide-specs dm-sans">9 in 4 cabins</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">PRICE</p>
                    <p class="slide-specs dm-sans">€2,900,000</p>
                </div>
            </li>
            <li class="slide">
                <img src="./img/sliders-img/Collu.png" alt="Arrow" width="322">
                <div class="slide-wrapper space">
                    <h4 class="slide-title dm-sans">COLLU</h4>
                    <p class="slide-copycht dm-sans">LUXURY YACHTS</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">LENGTH</p>
                    <p class="slide-specs dm-sans">29m (96ft)</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILDER</p>
                    <p class="slide-specs dm-sans">Ferretti</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">BUILT</p>
                    <p class="slide-specs dm-sans">2014</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">GUESTS</p>
                    <p class="slide-specs dm-sans">10 in 5 cabins</p>
                </div>
                <div class="slide-wrapper">
                    <p class="slide-info dm-sans">PRICE</p>
                    <p class="slide-specs dm-sans">$4,300,000</p>
                </div>
            </li>
        </ul>

        <!-- <div class="slides">
        <div class="slide">Элемент 1</div>
        <div class="slide">Элемент 2</div>
        <div class="slide">Элемент 3</div>
    </div> -->
        <button class="prev button-unifide">←</button>
        <button class="next button-unifide">→</button>
    </div>
</div>