<div class="back">
    <div class="container">
        <div class="img-cont">
            <img src="../img/yact-order/yacttwo@1x.png" alt="" class="yact-img img-2">
            <img src="../img/yact-order/yahtone@1x.png" alt="" class="yact-img img-1">
            <img src="../img/yact-order/yahtmob@1x.png" alt="" class="yact-imgm img-1m">
            <img src="../img/yact-order/yahtthree@1x.png" alt="" class="yact-img img-3">
        </div>
        <h2 class="yact-title dm-sans">Choose your dream yacht and sail away into the sunset</h2>
        <button type="button" class="yacht-rent  dm-sans">Yacht rental</button>
        <div class="decor"> </div>
    </div>
</div>