.container {
    width: 1220px;
    margin: 0 auto;
}

.baground {
    background-color: rgb(17, 19, 31);
    width: 1000;
    height: 1000px;
}

.list-style {
    list-style: none;
}

.display {
    position: relative;
    bottom: 436px;
}

.list-first {
    padding-left: 20px;
}

.list2-second {
    margin-left: 20px;
}
.list-ul2{
    position: relative;
        bottom: 493px;
        left: 50px;
}
.margin {
    margin-left: -20px;
    z-index: 0;
}

.margin2 {
    z-index: 2;
}
.list-ul3{
    position: relative;
        bottom: 550px;
        left: 80px;
}
.margin2 {
    margin-left: -20px;
    z-index: 0;
}

.color0 {
    color: black;
}

.display34 {
    position: relative;
    bottom: 565px;
    margin-left: 20px;
}

.border {
    border-radius: 20px;
    position: relative;
    bottom:655px;
    left: 200px;
}

.img-yaht {
    position: relative;
    bottom: 675px;
    left: 10px;
}

.width {
    position: relative;
    bottom: 690px;
    left: 30px;
}

.width2 {
    left: 100px;
    position: relative;
    bottom: 739px;
}

.margin3 {
    position: relative;
    bottom: 950px;
    left: 650px;
}

.color {
    color: white;
    font-size: 14px;

}

.color1 {
    color: white;
    font-size: 35px;
    margin-bottom: 2px;
}

.button {
    border-radius: 15px;
    width: 100px;
    height: 30px;
}

.display2 {
    display: flex;
    margin-left: -33px;
    gap: 5px;
}

.p-color {
    color: white;
    position: relative;
    bottom: 750px;
    font-size: 20px;

}

.p-1 {
    position: relative;
    bottom: 890px;
    color: white;
    left: 860px;
}

.p-2 {
    position: relative;
    bottom: 1170px;
    color: white;
    left: 1070px;


}
