.baground{
    color: darkblue;
    width: 1520px;
    height: 1000px;
}
.container{
  width: 1240px;  
}
.list{
    list-style: none;
}
.list1{
position: relative;
left: 150px;
}
.list2{
   position: relative; 
   left: 810px;
   bottom: 305px;
    
}
.list3{
    position: relative;
        left: 420px;
        bottom: 270px;
}