@media screen and (min-width: 800px) {
    .rayn1 {
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        /* 66px */
        letter-spacing: -2.7px;
        width: 282px;
    }

    .rayn2 {
        width: 282px;
        height: 191px;
    }

    .pdd {
        border: none;
        background-color: #11131F;
    }

    .git {
        width: 443px;
        height: 1px;
        color: #F6F5EF;
    }

    .fn1 {
        width: 386px;
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 19.2px */
        letter-spacing: -0.72px;
    }

    .fn2 {
        width: 386px;
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 19.2px */
        letter-spacing: -0.72px;
    }

    .fn3 {
        width: 386px;
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 19.2px */
        letter-spacing: -0.72px;
    }

    .fn4 {
        width: 386px;
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 19.2px */
        letter-spacing: -0.72px;
    }

    .rd1 {
        background-color: #11131F;
        max-width: 1280px;
        max-height: 5821px;
        outline: #ff0000 1px solid;
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;
        gap: 188px;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }


    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    .no-scroll {
        overflow: hidden;
    }

    .modal {
        position: absolute;
        top: 50%;
        width: 570px;
        height: 522px;
        left: 50%;
        border-radius: 40px;
        padding: 15px;
        background-color: #1F212D;
        transform: translate(-50%, -50%);
    }

    .btn-open {
        background-color: #00000000;
        margin-bottom: 100px;
        color: #F6F5EF;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        /* 19.8px */
        letter-spacing: -0.81px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
        display: flex;
        padding: 14px 28px;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .rdddbs2 {
            width: 18px;
            height: 8.66px;
            fill: #F6F5EF;
        }

    }

    .btn {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        border: none;
        background-color: #1F212D;
        margin-top: 32px;
        margin-left: 514px;
    }

    .rddbs1 {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    .rddbd1 {
        width: 265px;
        height: 265px;
        flex-shrink: 0;
        border-radius: 265px;
        opacity: 0.6;
        background: #91AFBA;
        filter: blur(100px);
        z-index: 3;
        margin-top: 65.26px;
        margin-bottom: -8px;
        margin-left: 97px;
        margin-right: 97.72px;
    }

    .rddbdi1 {
        width: 338px;
        height: 198px;
        flex-shrink: 0;
        z-index: 4;
        margin-top: -198px;
        margin-bottom: 21px;
        margin-left: 116px;
        margin-right: 116px;
    }

    .rdddp1 {
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 38.4px */
        letter-spacing: -1.44px;
        width: 282px;
    }

    .rdddp2 {
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
        display: flex;
        padding: 14px 28px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        width: 442px;
        color: #F6F5EF;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        /* 15.4px */
        letter-spacing: -0.63px;
    }

    .liststylenone {
        list-style: none;
    }
}


@media screen and (max-width: 400px) {

    .btn-open {
        background-color: #00000000;
        margin-bottom: 100px;
        color: #F6F5EF;
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        /* 19.8px */
        letter-spacing: -0.81px;
        border-radius: 60px;
        border: 1px solid var(--white, #F6F5EF);
        display: flex;
        padding: 14px 28px;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .rdddbs2 {
            width: 18px;
            height: 8.66px;
            fill: #F6F5EF;
        }

    }

    .git {
        width: 443px;
        height: 1px;
        color: #F6F5EF;
    }

    .fn1 {
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 16.8px */
        letter-spacing: -0.63px;
        width: 335px;
    }

    .fn2 {
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 16.8px */
        letter-spacing: -0.63px;
        width: 335px;
    }

    .fn3 {
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 16.8px */
        letter-spacing: -0.63px;
        width: 335px;
    }

    .fn4 {
        color: var(--white, #F6F5EF);
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 16.8px */
        letter-spacing: -0.63px;
        width: 335px;
    }

    .spawn {
        background-color: #11131F;
        width: 100%;
    }

    .rsu1 {
        list-style: none;
    }

    .rsuli1 {
        border: none;
    }

    .rsuli2 {
        border: none;
    }

    .rsult1 {
        border: none;
    }

    .backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
    }


    .backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    .no-scroll {
        overflow: hidden;
    }


    .modal {
        width: 335px;
        height: 396px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        border-radius: 20px;
        background-color: #1F212D;
    }
}