.Yacht {
  background: var(
    --linear-green,
    linear-gradient(92deg, #bec7c2 41.03%, #a1b5ba 90.31%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-reviewed {
  background-color: #11131f;
}

.h2-with-span {
  font-family: "DM Sans";
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: -1.44px;
  color: var(--white, #f6f5ef);
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1.44px;
  margin-top: -20px;

}

.section-two {
  text-align: right;
  padding-bottom: 150px;
  margin-right: 50px;
  color: var(--white, #f6f5ef);
  /* main text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.32px;
  color: var(--white, #f6f5ef);
    margin-top: -120px;

  /* main text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.32px;
}

.h2-with-span,
.Yacht {
  font-family: "DM Sans";
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
  letter-spacing: -1.44px;
}

.h2-john {
  color: var(--white, white);
  text-align: center;
  font-family: "DM Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 19.8px */
  letter-spacing: -0.81px;
}

.section-card-1 {
  display: flex;
  width: 384px;
  height: 282px;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: #1f212d;
  margin-left: 32px;
}

.card-p-1 {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;

  /* main text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  letter-spacing: -0.32px;
  align-self: stretch;
}

.card-img-1 {
  display: flex;
  width: 56px;
  height: 56px;
  padding: 12px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 72px;
}

.section-card-2 {
  display: flex;
  width: 384px;
  height: auto;
  padding: 32px 25px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: #1f212d;
  margin-left: 458px;
  margin-top: -340px;
}
.section-cards{
    display: flex;
    flex-direction: column;
}

.section-card-3{
    display: flex;
  width: 384px;
  height: auto;
  padding: 32px 25px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  background: #1f212d;
  margin-left: 864px;
  margin-top: -340px;
}


.h2-with-span, .Yacht{
    font-family: "DM Sans";
font-size: 32px;
font-style: italic;
font-weight: 500;
line-height: 120%; /* 38.4px */
letter-spacing: -1.44px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .p-second-section{
margin-top: 142px;
  }

  .h2-with-span{
    margin-left: 32px;
  }
  .section-card-1{
    margin-left: 5px;
    margin-right: 0;
    display: flex;
width: 444px;
flex-direction: column;
align-items: center;
gap: 8px;
  }
  .section-card-1{
margin-left: 50px;
}
}

.section-card-1{
  margin-left: 1030px;
  width: 500px;
}


@media (min-width: 320px) and (max-width: 425px) {
  .p-second-section{
    width: 335px;
    color: var(--white, #F6F5EF);
font-family: "DM Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
letter-spacing: -0.28px;
margin-left: -50px;
margin-top: 200px;
  }

  .section-card-1{
    display: flex;
width: 200px;
height: 208px;
  }
  
}
